# 1.4. AirBnB Project Template

## Imports

In [26]:
import numpy as np # conda install numpy
import tensorflow as tf
import matplotlib.pyplot as plt # conda install matplotlib
import pandas as pd # conda install pandas
import warnings
import seaborn as sns # conda install seaborn - Python data visualization library based on matplotlib

warnings.filterwarnings('ignore')

print(tf.__version__)

2.15.0

## Load data and take a look at it

In [17]:
data = pd.read_csv('airbnb new york.csv').sample(frac=1) # returns a random sample of the whole dataframe (frac=1)
print('\n*** Data head\n')
data.head()
print('\n*** Data describe\n')
data.describe()

*** Data head


*** Data describe

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

## Data preprocessing

In [18]:
features = data[['neighbourhood_group', 'room_type', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']]
print('*** Columns\n', features.head())
# the above print display that neighbourhood and room_type have categorical values

print('\n*** Missing values\n', features.isna().sum()) 
# isna() return a boolean same-sized object indicating if the values are NA - None or numpy.NaN - and they get mapped to True values.
# the above features.isna() shows that 'reviews_per_month' has several thousands od NA (missing) values.

features['reviews_per_month'] = features['reviews_per_month'].fillna(0) # fill NA missing values with 0s
print('\n*** Cleaned data\n', features.isna().sum()) # it shows data is cleaned

# get onehot encoding with pd.get_dummies()
onehot_neighborhood_group = pd.get_dummies(features['neighbourhood_group'])
onehot_room_type = pd.get_dummies(features['room_type'])
print('\n*** onehot encoded data\n', onehot_neighborhood_group)
print(onehot_room_type)

features = features.drop(columns=['neighbourhood_group', 'room_type']) # drop columns with categorical data
features = pd.concat([features, onehot_neighborhood_group, onehot_room_type], axis=1) # concatenate dataframe with onehot encoded columns
print('\n*** Processed data\n', features.head()) # observe updated features 

targets = data['price'] # get the targets

train_size = int(0.7 * len(data)) # 70% od data will be used for training purposes

# gets 70% of rows with all columns for X_train, and the remaining 30% of rows with all columns 
X_train, X_test = features.values[:train_size, :], features.values[train_size:, :]
y_train, y_test = targets.values[:train_size], targets.values[train_size:]
print('\nTotal number of columns\n', len(X_train[0]))

*** Columns
       neighbourhood_group        room_type  minimum_nights  number_of_reviews  \
44372           Manhattan  Entire home/apt               4                  2
26649            Brooklyn     Private room               5                  2
9265            Manhattan     Private room               5                  1
4572                Bronx     Private room               5                 35
2149            Manhattan  Entire home/apt               3                 17

       reviews_per_month  calculated_host_listings_count  availability_365
44372               1.36                               1               256
26649               0.11                               1                 0
9265                0.02                               1                 0
4572                0.67                               1               300
2149                0.22                               1                 0

*** Missing values
 neighbourhood_group                   0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

*** Cleaned data
 neighbourhood_group               0
room_type                         0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

*** onehot encoded data
        Bronx  Brooklyn  Manhattan  Queens  Staten Island
44372  False     False       True   False          False
26649  False      True      False   False          False
9265   False     False       True   False          False
4572    True     False      False   False          False
2149   False     False       True   False          False
...      ...       ...        ...     ...            ...
17457  False      True      False   False          False
5996   False     False       True   False          False
36791  False     False       True   False          False
4285   False     False       True   False          False
31127  False     False      False    True          False

[48895 rows x 5 columns]
       Entire home/apt  Private room  Shared room
44372             True         False        False
26649            False          True        False
9265             False          True        False
4572             False          True        False
2149              True         False        False
...                ...           ...          ...
17457             True         False        False
5996             False         False         True
36791             True         False        False
4285             False          True        False
31127             True         False        False

[48895 rows x 3 columns]

*** Processed data
        minimum_nights  number_of_reviews  reviews_per_month  \
44372               4                  2               1.36
26649               5                  2               0.11
9265                5                  1               0.02
4572                5                 35               0.67
2149                3                 17               0.22

       calculated_host_listings_count  availability_365  Bronx  Brooklyn  \
44372                               1               256  False     False
26649                               1                 0  False      True
9265                                1                 0  False     False
4572                                1               300   True     False
2149                                1                 0  False     False

       Manhattan  Queens  Staten Island  Entire home/apt  Private room  \
44372       True   False          False             True         False
26649      False   False          False            False          True
9265        True   False          False            False          True
4572       False   False          False            False          True
2149        True   False          False             True         False

       Shared room
44372        False
26649        False
9265         False
4572         False
2149         False

Total number of columns
 13

## Data visualization and analysis

## The Tensorflow 2 Machine Learning Approaches
### Linear Regression
#### Model definition

In [20]:
# reused the LinearModel function from the Linear regression notebook
class LinearModel:
    def __init__(self):
        # y_pred = W*X + b
        
        # self.W = tf.Variable(13.0)
        # self.b = tf.Variable(4.0)
        
        # initializers define the way to set the initial random weights (note plural here) of Keras layers
        # we are moving from one variable to a multiple variable (13) linear regression model
        self.initializer = tf.keras.initializers.GlorotUniform() 

    # loss function
    def loss(self, y, y_pred):
        # calculates the mean absolute error instead of mean squared error
        # MAE treats all errors equally, minimizing the impact of outliers on the loss function.
        # MSE provides faster convergence BUT has susceptibility to outliers influence and  
        #     makes it less suitable for datasets containing anomalies
        # https://medium.com/@nirajan.acharya666/choosing-between-mean-squared-error-mse-and-mean-absolute-error-mae-in-regression-a-deep-dive-c16b4eeee603
        # return tf.reduce_mean(tf.square(y - y_pred))
        return tf.reduce_mean(tf.abs(y - y_pred))
        
    # train function
    def train(self, X, y, lr=0.00001, epochs=20, verbose=True):
        
        # asarray - converts the input to an array and ensures we are using numpy float32 arrays
        print('\n*** X before array\n', X)
        X = np.asarray(X, dtype=np.float32)
        print('\n*** X after array\n', X)
        
        # reshape() - Gives a new shape to an array without changing its data.
        print('\n*** y before array and reshape()\n', X)
        y = np.asarray(y, dtype=np.float32).reshape((-1, 1)) # [1,2,3,4] -> [[1],[2],[3],[4]]      
        print('\n*** y after array and reshape()\n', X)
        
        # use the initializer from the constructor above to initialize the multiple features' weights and biases
        # LEN(x[0]) - NUMBER OF FEATURES
        self.W = tf.Variable(initial_value=self.initializer(shape=(len(X[0]), 1), dtype='float32'))
        self.b = tf.Variable(initial_value=self.initializer(shape=(1,), dtype='float32'))
        
        def train_step():
            with tf.GradientTape() as t:
                current_loss = self.loss(y, self.predict(X))

            dW, db = t.gradient(current_loss, [self.W, self.b])
            self.W.assign_sub(lr * dW) # W -= lr * dW
            self.b.assign_sub(lr * db) # b -= lr * db
            
            return current_loss

        for epoch in range(epochs):
            current_loss = train_step()
            if verbose:
                print(f'Epoch {epoch}: loss: {current_loss.numpy()}') # <3 eager execution

    def predict(self, X):
        # return self.W * X + self.b  - remove due to being just one variable
        # [a, b] x [b, c]
        # X -> [n_instances, n_features] x [n_features, 1]
        return tf.matmul(X, self.W) + self.b

#### Model instantiation

In [25]:
model = LinearModel()
model.train(X_train, y_train, lr=0.00001, epochs=100)

*** X before array
 [[4 2 1.36 ... True False False]
 [5 2 0.11 ... False True False]
 [5 1 0.02 ... False True False]
 ...
 [2 0 0.0 ... False True False]
 [3 3 0.16 ... False True False]
 [1 8 2.38 ... False False True]]

*** X after array
 [[4.   2.   1.36 ... 1.   0.   0.  ]
 [5.   2.   0.11 ... 0.   1.   0.  ]
 [5.   1.   0.02 ... 0.   1.   0.  ]
 ...
 [2.   0.   0.   ... 0.   1.   0.  ]
 [3.   3.   0.16 ... 0.   1.   0.  ]
 [1.   8.   2.38 ... 0.   0.   1.  ]]

*** y before array and reshape()
 [[4.   2.   1.36 ... 1.   0.   0.  ]
 [5.   2.   0.11 ... 0.   1.   0.  ]
 [5.   1.   0.02 ... 0.   1.   0.  ]
 ...
 [2.   0.   0.   ... 0.   1.   0.  ]
 [3.   3.   0.16 ... 0.   1.   0.  ]
 [1.   8.   2.38 ... 0.   0.   1.  ]]

*** y after array and reshape()
 [[4.   2.   1.36 ... 1.   0.   0.  ]
 [5.   2.   0.11 ... 0.   1.   0.  ]
 [5.   1.   0.02 ... 0.   1.   0.  ]
 ...
 [2.   0.   0.   ... 0.   1.   0.  ]
 [3.   3.   0.16 ... 0.   1.   0.  ]
 [1.   8.   2.38 ... 0.   0.   1.  ]]
Epoch 0: loss: 215.56259155273438
Epoch 1: loss: 148.91954040527344
Epoch 2: loss: 119.54811096191406
Epoch 3: loss: 118.42322540283203
Epoch 4: loss: 118.273681640625
Epoch 5: loss: 118.13539123535156
Epoch 6: loss: 118.00682067871094
Epoch 7: loss: 117.88909149169922
Epoch 8: loss: 117.78253936767578
Epoch 9: loss: 117.68275451660156
Epoch 10: loss: 117.59022521972656
Epoch 11: loss: 117.50504302978516
Epoch 12: loss: 117.4271011352539
Epoch 13: loss: 117.3538818359375
Epoch 14: loss: 117.28482818603516
Epoch 15: loss: 117.2192611694336
Epoch 16: loss: 117.15937805175781
Epoch 17: loss: 117.10468292236328
Epoch 18: loss: 117.052490234375
Epoch 19: loss: 117.00359344482422
Epoch 20: loss: 116.95723724365234
Epoch 21: loss: 116.91293334960938
Epoch 22: loss: 116.87004089355469
Epoch 23: loss: 116.82861328125
Epoch 24: loss: 116.7884750366211
Epoch 25: loss: 116.7494125366211
Epoch 26: loss: 116.71135711669922
Epoch 27: loss: 116.67420959472656
Epoch 28: loss: 116.6384506225586
Epoch 29: loss: 116.60372161865234
Epoch 30: loss: 116.57037353515625
Epoch 31: loss: 116.53815460205078
Epoch 32: loss: 116.50666046142578
Epoch 33: loss: 116.47633361816406
Epoch 34: loss: 116.44730377197266
Epoch 35: loss: 116.41900634765625
Epoch 36: loss: 116.39189147949219
Epoch 37: loss: 116.36579895019531
Epoch 38: loss: 116.3402099609375
Epoch 39: loss: 116.31493377685547
Epoch 40: loss: 116.29000091552734
Epoch 41: loss: 116.2656478881836
Epoch 42: loss: 116.24188995361328
Epoch 43: loss: 116.2187728881836
Epoch 44: loss: 116.1960220336914
Epoch 45: loss: 116.17378234863281
Epoch 46: loss: 116.15204620361328
Epoch 47: loss: 116.1307144165039
Epoch 48: loss: 116.10964965820312
Epoch 49: loss: 116.08927154541016
Epoch 50: loss: 116.06949615478516
Epoch 51: loss: 116.04994201660156
Epoch 52: loss: 116.03069305419922
Epoch 53: loss: 116.01174926757812
Epoch 54: loss: 115.9930191040039
Epoch 55: loss: 115.97450256347656
Epoch 56: loss: 115.95637512207031
Epoch 57: loss: 115.93896484375
Epoch 58: loss: 115.9218978881836
Epoch 59: loss: 115.90520477294922
Epoch 60: loss: 115.88880920410156
Epoch 61: loss: 115.87269592285156
Epoch 62: loss: 115.85688781738281
Epoch 63: loss: 115.8411865234375
Epoch 64: loss: 115.82563018798828
Epoch 65: loss: 115.8102035522461
Epoch 66: loss: 115.79486083984375
Epoch 67: loss: 115.77958679199219
Epoch 68: loss: 115.76456451416016
Epoch 69: loss: 115.74983978271484
Epoch 70: loss: 115.73518371582031
Epoch 71: loss: 115.72076416015625
Epoch 72: loss: 115.70670318603516
Epoch 73: loss: 115.69283294677734
Epoch 74: loss: 115.67911529541016
Epoch 75: loss: 115.6655502319336
Epoch 76: loss: 115.65213775634766
Epoch 77: loss: 115.63884735107422
Epoch 78: loss: 115.62577056884766
Epoch 79: loss: 115.61304473876953
Epoch 80: loss: 115.60045623779297
Epoch 81: loss: 115.5879898071289
Epoch 82: loss: 115.57560729980469
Epoch 83: loss: 115.56336212158203
Epoch 84: loss: 115.55120086669922
Epoch 85: loss: 115.53919219970703
Epoch 86: loss: 115.52734375
Epoch 87: loss: 115.51568603515625
Epoch 88: loss: 115.50410461425781
Epoch 89: loss: 115.49262237548828
Epoch 90: loss: 115.48123931884766
Epoch 91: loss: 115.46990966796875
Epoch 92: loss: 115.45862579345703
Epoch 93: loss: 115.44744873046875
Epoch 94: loss: 115.43638610839844
Epoch 95: loss: 115.42540740966797
Epoch 96: loss: 115.41453552246094
Epoch 97: loss: 115.40373992919922
Epoch 98: loss: 115.3930892944336
Epoch 99: loss: 115.38265991210938

## Conclusions